<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Stock-Station1/public/css/portfoilo.css">
</head><%- include('../partials/header.ejs') -%>
<body>
    <div class="container2">
        <img src="../cel1.jpg" class="abc" alt="portfolio page" >
        <div class="centered"><b><%= portfolio %></b></div>
        

    </div>
    
    <%- include('../partials/footer.ejs') -%>
</body>
</html

