
/* navbar */
.navbar-brand{
  font-size: 2.5rem;
}
.navbar{
  padding:0 0 4.5rem;
  text-align: left;
  margin-bottom: 1%;
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size: 125%;
  font-weight: bold;
}
.link-text{
  color: white;
}
#indices{
  text-align: center;
  margin-bottom: 7%;
}
.card-text{
  color: black;
}
.all-cards{
  text-align: center;
}
.ind-card{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
.btn{
  margin-bottom: 1%;
}
/* PRICE PAGE CARD */
.pricing-card{
  text-align: center;
  padding:3%;
  margin:5% 5% 20% 5%;
}
.indice-name{
  margin-bottom: 3%;
  margin-top: 0;
}
.indice-characteristics{
  color: grey;
  line-height: 1.5;
}
/*carousel-aboutus*/
.carousel-img{
  height: 500px;
  width: 80%;
  margin-top: 0;
}
/*whoarewe-aboitus*/
.WhoAreWe{
  text-align: center;
  padding:4%;
  margin:2%;
}
.WhoAreWeTitle{
  font-weight: bold;
  margin-bottom: 1%;
}
.WhoAreWeText{
  font-weight: bold;
  color: grey;
  line-height: 1.5;
  font-size: 135%;
}
.btn-primary{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
/* why stock station */


/*footer*/
footer{
  background-color: #0275d8;
  text-align: center;
  padding: 2.2%;
  bottom: 0;
	width: 100%;
  position: relative;
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -40%);
  font-size:70px;
  color: -webkit-linear-gradient(left, #3931af, #00c6ff);s
}
.container2 {
  position: relative;
  text-align: center;
  color: black;
  padding-left: 0px;
  margin-left:0px;
}
.abc{
  
  width: 1500px; 
  height:600px;
  
}
.card-block{
  padding-left: 20px;
  padding-right:20px;
}
.col-md-3{
  margin-left: 120px;
  margin-right:120px;
  margin-top:10px;
  margin-bottom:50px;
}

.image1{
  margin-left:80px;
  margin-bottom:50px;
  margin-top:50px;
 
}

.pop{
  font-family: sans-serif;
  margin-left:460px;
  
}

.feature{
  font-family: sans-serif;
  margin-left:570px;
  margin-top:50px;
}